<div class="hero-image-row">
  <img src="/img/UVoteLogo.png" alt="" style="border: none; height: 113px; width: 250px; " />
</div>
<div class="row">
  <p>
    Voting from abroad? Visit AVAAZ.org to learn about how to make sure your vote is counted!
  </p>
</div>
<div class="separator-participation">
</div>
<iframe id="frame"src="https://register.avaaz.org/">
    alternative content for browsers which do not support iframe.
</iframe>
