<!doctype html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <meta property="og:url"           content="http://www.u-vote.org" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="U-Vote" />
	<meta property="og:description"   content="How Civic Minded is your college?" />
	<meta property="og:image"         content="http://i.imgur.com/ZG0DuMO.png" />
</head>
<body>
  <div class="container">
    <div class="spotlight">
      <div class="nav">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/abroad">Voting From Abroad?</a></li>
              <li><a href="/rankings">University Rankings</a></li>
              <li><a href="/participation">University Participation</a></li>
            </ul>
          </nav>
        </div>
            <%= yield %>
    </div>
  </div>
</body>
</html>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
