<div class="hero-image-row">
  <img src="/img/UVoteLogo.png" alt="" style="border: none; height: 113px; width: 250px; " />
</div>
<div class="row">
  <p>Here you can find other resources to ensure your college community</p>
  <p>is participating to its fullest in our electoral process. </p>
</div>
<div class="separator-participation">
</div>
<div class="logo">
    <img src="/img/AllIn.png">
    <p>Is your campus all in?</p>
</div>
<div class="participation-map">
  <iframe src="https://www.google.com/maps/d/embed?mid=1UABRSle_SOe_a27sLVRFmaweE9c" width="640" height="350"></iframe>
    <p>The All In Campus Democracy Challenge is committed to improving democratic engagement and</p>
      <p>increasing student voter participation.</p>
        <p>Go to <a style="color:lightgray" href="http://www.allinchallenge.org">www.AllInChallenge.org</a> to learn more.</p>
</div>

<div class="separator-participation"></div>
  <div class="participant-orgs">
  <div class="participant-holder">
    <h3 class="participant-headline">
      IS YOUR CAMPUS VOTER FRIENDLY?
    </h3>
    <img src="/img/campusvote.jpg"/>
    <p class="clearfix">
      The Campus Vote Project helps colleges and universities institutionalize reforms that empower
    </p>
    <p class="clearfix">
      students with the information they need to register and vote.
    </p>
    <br>
    <p class="clearfix">
      Go to <a style="color:lightgray" href="http://www.campusvoteproject.org">www.CampusVoteProject.org</a> to learn more.
    </p>
  </div>

  <div class="separator-participation"></div>

  <div class="participant-holder">
    <div style="float:left; width:50%">
      <img src="/img/droppedImage.png"/>
    </div>
    <div style="float:left; width:50%">
      <h3 class="participant-headline">
        IS YOUR CAMPUS IN THE NATIONAL STUDY OF LEARNING, VOTING, AND ENGAGEMENT?
      </h3>
    </div>
    <p class="clearfix">
      The NSLVE offers colleges and universities an opportunity to learn about their student registration
      and voting rates.
    </p>
    <br>
    <p class="clearfix">
      Click <a style="color:lightgray" href="http://activecitizen.tufts.edu/research/nslve/">here</a> to learn more.
    </p>
  </div>

  <div class="separator-participation"></div>

  <div class="participant-holder">
    <img src="/img/logo.png"/>
    <h3 class="participant-headline">
      IS YOUR CAMPUS IN SOCON VOTES?
    </h3>
    <p class="clearfix">
      SoCon Votes is the first voter engagement competition in an NCAA division I athletic conference.
    </p>
    <br>
    <p class="clearfix">
      Click <a style="color:lightgray" href="http://www.soconsports.com/ViewArticle.dbml?DB_LANG=C&DB_OEM_ID=4000&ATCLID=210868904&SPID=2233&SPSID=28752">here</a> to learn more.
    </p>
  </div>
</div>
