
body {
  font-family:  'Futura', 'Trebuchet MS', sans-serif;
  background: url('/img/PhotoGray_browser_bg-2.jpg');
  color: rgb(255, 255, 255);
  margin: -20px 0 0 0;
}

.container {
  background: url('/img/PhotoGray_bg_c-1.jpg') repeat scroll top left;
  margin: 0 auto;
  height: auto;
  width: 700px;
  overflow: scroll;
}

.spotlight {
  background: url('/img/Darkroom_spotlight.jpg');
  width: 700px;
  height: 700px;
}

.nav {
  color: silver;
  position:  relative;
  margin-top: 33px;
  width: 700px;
  height:  35px;
  background: url("/img/PhotoGray_nav_bg.jpg");
  border-top: thin solid darkgrey;
  border-bottom: thin solid darkgrey;
  text-transform: uppercase;
}

.nav ul {
  margin:  5px 80px;
}

.nav ul li {
  font-size:  0.7em;
  display:  inline;
  text-decoration: none;
  text-shadow: 0px -1px 2px #333;
  padding:  0px 10px 0px 10px;
  margin:  0;
}

.nav ul li a:hover {
  color: red;
}

#current-page {
  color: black;
  text-shadow: 0px;
}

img {
  margin: 10px 111px;
  text-align: center;
}

p#logo {
  text-transform: uppercase;
  color: rgb(203, 203, 203);
  letter-spacing: 0.25px;
  margin: -36px 0px 0px 25px;
  font-size: 16px
}

.row {
  font-size: 14px;
  text-align: center;
  line-height: 50%;
}

a {
  text-decoration: none;
}

a:visited {
  color: silver;
}

input {
  height: 50px;
  width: 300px;
  color: white;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #41a2be;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  opacity: 0.6;
}

input:focus{
  outline: none;
}

.buttons-row {
  margin-top: 50px;
}

.status-buttons {
  display: inline;
  text-transform: uppercase;;
  /*padding: 20px;*/
  border-radius: 0px;
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
  background-color:#474747;
  font-size: 13px;
  font-weight: 500;
  height: 60px;
  width: 160px;
  /*opacity: 0;*/
  /*transition: opacity 1s;*/
}

.status-buttons:hover {
  cursor: pointer;
  font-weight: 600;
  border:5px solid #41a2be;
  color: #41a2be;
}

#status-instruction {
  /*display: none;*/
}

.status-buttons a:visited {
  color: rgb(255, 255, 255);
}

.status-buttons a:hover {
  color: #41a2be;
}

.separator-title {
  display: block;
  background: url("/img/shapeimage_1.jpg");
  height: 2px;
  width: 640px;
  margin-left: 30px;
  margin-top: 80px;
  color: #9b9b9b;
}



footer {
  text-align: center;
  font-size: 14px;
}

footer p {
  margin-top: 30px;
}

#star {
  margin-top: 0;
}

.hero-image-row {
  margin: -30px 115px;
}

.separator-participation {
  display: block;
  background: url("/img/shapeimage_1.jpg");
  height: 2px;
  width: 640px;
  margin-left: 30px;
  color: #9b9b9b;
}

.logo {
  font-size:24px;
  text-transform:uppercase;
  display: inline-block;
}

.logo img {
  display: inline-block;
  float: left;
  margin-left: 30px;
  padding-right: -50px;
}

.logo p {
  float: left;
  padding-top: 20px;
}

iframe {
  margin: 0 20px;
}

.participation-map p {
  text-align: center;
  font-size: 14px;
  line-height: 6px;
}

.participation-map a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  overflow: auto;
}

.rankings {
  margin: 0 8em;
}

#rankings-logo-div {
  margin: -1em;
}

#rankings-copy {
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.uni-part{
  width:450px;
  font-family: Helvetica;
  font-size: 14px;
  color:#fff;
  background-color:#ccc;
  border-spacing: 5px 5px;
  border:3px solid #ccc;
}

.uni-part th {
  width:150px;
  height:35px;
  color:#000;
  background-color: #fff;
  border:1px solid #fff;
}

.uni-part td {
  color:#000;
  font-style:italic;
  text-align:center;
  background-color: #fff;
  border:1px solid #fff;
}

.separator-participation {
  margin: auto;
}

.participant-holder {
  margin-bottom: 1em;
}

.participant-holder img{
  float: left;
  margin: 20px 50px;
}

.clearfix {
  clear: both;
}

.participant-holder h3 {
  margin: 30px -18px;
  display: inline-block;
}

.participant-holder p {
  font-size: 14px;
  /*display: inline-block;*/
  margin: 0 3em 0 3em;
  text-align: center;
}
