<div class="image-container">
  <img src="/img/UVoteLogo.png">
<div class="row">
  <p id="logo">How civic-minded is your college ?</p>
  <p>Enter your <i>ACADEMIC EMAIL address*</i></p>
  <p>to be counted towards your school’s 2016 registration tally.</p>
</div>
</div>
