<div class="hero-image-row">
  <img src="/img/UVoteLogo.png" alt="" style="border: none; height: 113px; width: 250px; " />
</div>
<div class="row">
  <p>Here you can find other resources to ensure your college community</p>
  <p>is participating to its fullest in our electoral process. </p>
</div>
<div class="separator-participation">
</div>
<div class="logo">
    <img src="/img/AllIn.png">
    <p>Is your campus all in?</p>
</div>
<div class="participation-map">
  <iframe src="https://www.google.com/maps/d/embed?mid=1UABRSle_SOe_a27sLVRFmaweE9c" width="640" height="350"></iframe>
    <p>The All In Campus Democracy Challenge is committed to improving democratic engagement and</p>
      <p>increasing student voter participation.</p>
        <p>Go to <a href="http://www.allinchallenge.org">www.AllInChallenge.org</a>to learn more.</p>
</div>
