<div class="hero-image-row">
  <img src="/img/UVoteLogo.png" alt="" style="border: none; height: 113px; width: 250px; " />
</div>
<div class="row">
  <p>Here you can find other resources to ensure your college community</p>
  <p>is participating to its fullest in our electoral process. </p>
</div>
<div class="separator-participation">
  <hr>
</div>
